<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/components/list.css}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karrot 마켓 클론코딩 챌린지</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <span th:text="${nickname} + '님 동네'">개발자님 동네</span>
        <a class="register" th:href="@{/products/register}">상품 등록</a>
      </div>
      <div style="overflow: scroll; width: 100%; height: 600px">
        <div th:each="product: ${productList}">
          <div class="div2">
            <a th:href="${'/products/list/' + product.id}">
              <img
                style="margin-top: 10px"
                width="150px"
                height="150px"
                th:src="${product.thumbnail}"
              />
            </a>
          </div>
          <div class="div3">
            <p th:text="${product.title}">제목</p>
            <p th:text="${product.place}">장소</p>
            <p th:text="${product.price + ' 원'}">가격</p>
            <p th:text="${product.status.value}">상품 상태</p>
            <div
              style="margin-bottom: 10px"
              th:if="${#lists.contains(interestByMember, product)}"
            >
              <a
                class="interest_a"
                th:href="@{/interests/delete(productId=${product.id})}"
                >💖</a
              >
              <span
                style="margin-left: 20px; font-size: 15px"
                th:if="${product.interestCount > 0}"
                th:text="${product.interestCount}"
                >하트수</span
              >
            </div>
            <div
              style="margin-bottom: 10px"
              th:unless="${#lists.contains(interestByMember, product)}"
            >
              <a
                class="interest_a"
                th:href="@{/interests/save(productId=${product.id})}"
                >🤍️</a
              >
              <span
                style="margin-left: 20px; font-size: 15px"
                th:if="${product.interestCount > 0}"
                th:text="${product.interestCount}"
                >하트수</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div style="margin-right: 50px">
          <a th:href="@{/products/list}" style="font-size: 50px">🏠</a>
          <p style="margin: auto; padding-left: 15px">홈</p>
        </div>
        <div>
          <a th:href="@{/my-page}" style="margin-left: 15px; font-size: 50px"
            >🥕</a
          >
          <p style="margin: auto">나의 당근</p>
        </div>
      </div>
    </div>
    <div id="no-mobile">
      <span>화면 크기를 줄여주세요</span>
    </div>
  </body>
</html>
