<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link
    rel="stylesheet"
    type="text/css"
    th:href="@{/css/components/detail.css}"
/>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Karrot 마켓 클론코딩 챌린지</title>
</head>
<body>
    <div class="header">
        <a href="/products/list" style="margin-right: 10px">목록으로</a>
        <a th:if="${memberId == checkProduct.seller.id}" th:href="@{/products/delete/check(productId=${checkProduct.id})}" style="margin-left: 30%;">상품 삭제</a>
        <a th:if="${memberId == checkProduct.seller.id}" th:href="@{/products/update(productId=${checkProduct.id})}">상품 수정</a>
    </div>
    <div style="margin-top:10px; overflow: scroll; width: 100%; height: 600px">
        <div class="slider">
            <input
            type="radio"
            th:each="item, i: ${product.productImages}"
            name="slide"
            th:id="'slide' + ${i.index}"
            checked
            />
            <ul id="imgholder" class="imgs">
            <li th:each="item: ${product.productImages}">
                <img th:src="${item}" />
            </li>
            </ul>
            <div class="bullets">
            <label
                th:each="item, i : ${product.productImages}"
                th:for="'slide'+${i.index}"
                >&nbsp;</label
            >
            </div>
        </div>
        <div class="main">
            <div th:if="${memberId == checkProduct.seller.id}">
                <form style="padding: 10px; margin-left: 50px;" th:action="@{/products/update/status}" method="get">
                    <input type="hidden" name="productId" th:value="${checkProduct.id}">
                    <select name="status">
                        <option th:each="status: ${changeableStatus}" th:value="${status}" th:text="${status.value}" selected>판매중</option> 
                    </select>
                    <input type="submit" value="수정">
                </form>
            </div>
            <div class="profile">
            <img
                style="background-color: black"
                th:src="${product.profile}"
            />
            <div
                style="margin-left: 10px; margin-top: 25px"
                th:text="${product.nickName}"
            >
                닉네임
            </div>
            </div>
            <div class="product-info">
            <p th:text="${product.title}">상품명</p>
            <p th:text="${product.date}">상품 등록 시간</p>
            <p th:text="${product.status}">상품상태</p>
            <p th:text="${product.category}">상품 카테고리</p>
            <p th:text="${product.content}">상품 내용</p>
            <div style="display: inline-block">
                <span
                th:text="${product.nickName} + ' 님의 판매상품'"
                style="margin-right: 30px"
                >닉네임님의 판매상품</span
                >
                <a th:href="@{/products/list/other/all(memberId=${product.sellerId})}"
                >모두 보기</a
                >
            </div>
            <div th:each="item, i: ${product.otherProducts}">
                <span th:if="${i.index==0}" style="display: inline-block">
                <div>
                    <a th:href="${'/products/list/' + item.id}">
                    <img
                        th:src="${item.thumbnail}"
                        style="margin-top: 10px; width: 100px; height: 100px"
                    />
                    </a>
                </div>
                <p th:text="${item.title}">상품명</p>
                <p th:text="${item.price + ' 원'}">가격</p>
                </span>
                <span th:if="${i.index==1}" style="display: inline-block">
                <div>
                    <a th:href="${'/products/list/' + item.id}">
                    <img
                        th:src="${item.thumbnail}"
                        style="margin-top: 10px; width: 100px; height: 100px"
                    />
                    </a>
                </div>
                <p th:text="${item.title}">상품명</p>
                <p th:text="${item.price + ' 원'}">가격</p>
                </span>
                <span th:if="${i.index==2}" style="display: inline-block">
                <div>
                    <a th:href="${'/products/list/' + item.id}">
                    <img
                        th:src="${item.thumbnail}"
                        style="margin-top: 10px; width: 100px; height: 100px"
                    />
                    </a>
                </div>
                <p th:text="${item.title}">상품명</p>
                <p th:text="${item.price + ' 원'}">가격</p>
                </span>
            </div>
            </div>
    </div>
        <div class="footer">
            <div style="margin-bottom: 10px; padding-top: 10px; font-size: 40px;" th:if="${#lists.contains(interestList, checkProduct)}">
                <a class="interest_a" th:href="@{/interests/delete(productId=${checkProduct.id})}">💖</a>
            </div>
            <div style="margin-bottom: 10px; padding-top: 10px; font-size: 40px;" th:unless="${#lists.contains(interestList, checkProduct)}">
                <a class="interest_a" th:href="@{/interests/save(productId=${checkProduct.id})}">🤍️</a>
            </div>
            <span th:text="${product.price + ' 원'}">상품가격</span>
            <a th:if="${memberId == checkProduct.seller.id}" th:href="${'/products/list/'+ checkProduct.id +'/chat'}" class="chatting">관련채팅</a>
            <a th:unless="${memberId == checkProduct.seller.id}" th:href="@{/chat/room(roomName=${roomName}, productId=${checkProduct.id})}" class="chatting">채팅하기</a>
        </div>   
    <div id="no-mobile">
        <span>화면 크기를 줄여주세요</span>
    </div>
</body>
</html>
