a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 163, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 32px;
}

@media screen and (max-width:645px){
    #no-mobile {
        display: none;
    }
}
.back{
    background-color: rgb(255, 163, 71);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.header-bar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    padding: 20px 0px;
}
.profile{
    display: inline-flex;
    padding: 30px;
    padding-left: 100px;
}
.profile img{
    width:70px;
    height:70px;
    margin-left:30px;
    margin-top:7px;
    margin-right: 10px;
    border-radius: 70px;
}
.profile-modify{
    width: 100%;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: solid;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    text-align: center;
}
.logout{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 163, 71);
    font-size: 27px;
    padding: 10px;
    margin-left: 20%;
}
.footer{
    display: flex;
    width: 100%;
    padding-left: 30%;
    position : absolute;
    bottom : 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
  }
.list{
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}
.list-child{
    padding: 10px;
    font-size: 30px;
}